header {
	background-color: navy;
	color: white;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

nav {
    color: white;
}

.content {
    color: white;
}

body {
    background-color: rgb(32,32,32);
}

footer {
	color: white;
}