html, body {
  height: 100%;
}

.header {
  color: black;
  font-family: Consolas, monaco, monospace;
  text-align: center;
}

footer {
  background: rgb(20,20,10);
  text-align: center;
}

footer ul {
  display: inline-flex;
  list-style: none;
}

footer li {
  color: white;
  font-weight: bold;
  padding: 10 10 10 10;
}

.skills {
  background: rgb(64,128,256);
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar {
    margin-bottom: 0;
}