
html, body {
  height: 100%;
}

.header {
  color: black;
  font-family: Consolas, monaco, monospace;
  text-align: center;
}

.nav {
  background: rgb(110,110,110);
  text-align: center;
}

.nav ul {
  display: inline-flex;
  list-style: none;
}

.nav li {
  padding: 10px 10px 15px 15px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  color: white;
  font-weight: bold;
}

.jumbotron{
  background-color: blue;
  color: white;
}

.col-lg-12 {
  background: rgb(64,128,256);
  display: inline-flex;
  height: 100%;
  width: 100%;
}

footer {
  background: rgb(20,20,10);
  text-align: center;
}

footer ul {
  display: inline-flex;
  list-style: none;
}

footer li {
  color: white;
  font-weight: bold;
  padding: 10 10 10 10;
}

.skills {
  background-color: blue;
}

.navbar .navbar-nav {

display: inline-block;

float: none;

}

.navbar .navbar-collapse {

text-align: center;

}